

.jumbotron {
	color: #0f0f0e;
	font-family: Arial, Helvetica, sans-serif;
    padding-left: 80px;

}

#metaPanel {
	font-size: smaller;
	font-family: Arial, Helvetica, sans-serif;
	color: #161816;
}

#metaPanel .panel-header {
    text-align: center;
}

#selDataset {
	padding: 20px;
    color: black;
}

#samplePanel {
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	color: #49a81d;
}